BasedOnStyle: LLVM
Language: Rust
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
ReflowComments: true
SortIncludes: true
IncludeBlocks: Regroup
IndentPPDirectives: None
MaxEmptyLinesToKeep: 1
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
AlignOperands: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
